header {
    background-color: var(--transparent);
}

html {
    background: url("asset/monarch-splash.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nameDisplay {
    display: none;
}


/* Clean BG image for smaller screen text formatting */
@media (max-width: 1280px) {
    html {
        background: url("asset/monarch-splash-mobile.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #nameDisplay {
        display: initial;
        position: fixed;
        top: 40%;
        left: 35%;
    }
}

/* button containers */
#tattoo {
    position: fixed;
    top: 75%;
    left: 20vw;
}

#beauty {
    position: fixed;
    top: 75vh;
    left: 60vw;
}


/* laptop resolution */
@media (min-width: 1280px) and (max-width: 1919px) {

    #tattoo {
        position: fixed;
        top: 70%;
        left: 15%;
    }

    #beauty {
        position: fixed;
        top: 70%;
        left: 55%;
    }
}

/* smaller screens than previous */
@media (max-width: 1279px) {
    #tattoo {
        position: fixed;
        top: 65%;
        left: 10%;
    }

    #beauty {
        position: fixed;
        top: 65%;
        left: 54%;
    }

    #nameDisplay {
        left: 10%;
    }

    #banner {
        font-size: 10vw;
    }

}